body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
    background: url(../pic/images.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
header .row {
  display: flex;
  align-items: center;
}
header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 50px;
}
figure {
    background-color: #B6E7C0;
    border-radius: 10px;
    margin-top: 100px;
    text-align: left;
    padding: 6px;

}
.container {
	margin-bottom: 100px;
}
.firstA {
	border: 4px double #6aa8bb;
	margin-right: 10px;
}
.article p {
	margin-bottom: 18px;
	margin-top: 0;
}

@media (min-width: 992px) {
  header {
    padding: 20px 0;
  }
  header nav {
    display: flex;
    justify-content: flex-end;
  }

  header p {
    padding: 0 20px;
    margin: 0;
  }
  img {
  	width: 190px;
	height: 130px;
  }
  .firstA {
	
	float: left;
	margin: 23px 15px 15px 5px;
  }
  #a {
  	margin-right: 15px;
  }
}